* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    padding: 0px;
    margin: 0px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #111827;
    background: linear-gradient(to right, #111827, #10081f);
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    margin-right: 10px;
    height: 100%;
    width: auto;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

nav a {
    padding: 10px;
}

.div-deslizador img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.div-deslizador {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;

}

.partesuperior {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-right: 700px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.partesuperior h1 {
    margin-bottom: 10px;
}

.partesuperior h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #c9c6c6;
    color: white;
    border-radius: 2px;
    height: 30px;
    text-shadow: 0px 0px 15px black;
    box-shadow: #eee8e8;
}

.parteinferior {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section {
    text-align: center;
    margin: 80px auto;
    padding: 0 20px;
    max-width: 1000px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section2 {
    text-align: center;
    margin: 80px auto 20px;
    padding: 0 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
    padding: 0 20px;

}


.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .06);
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card img {
    height: 52px;
    width: 52px;
}

.card h4 {
    margin: 0 0 6px
}



.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 10px;
}

.slider-carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.texto-deslizador {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto-deslizador h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto-deslizador p {
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 0px;
}

.slider-carrusel:hover .texto-deslizador {
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(128, 136, 141, 0.09);
}

.slider-carrusel:hover .texto-deslizador p {
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;

    text-shadow: 0px 0px 10px #000000;
}

.contenedor-barra {
    width: 100%;
    max-width: 55px;
    position: fixed;
    left: 0;
    top: 25%;
    height: 100%;
    max-height: 110px;
    background-color: rgb(10, 10, 10);
    border-top: 5px solid rgb(10, 10, 10);
    border-right: 5px solid rgb(10, 10, 10);
    border-radius: 0px 4px 4px 0px;
}

.contenedor-barra a {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;
}

.contenedor-barra:hover a {
    background: #1c1c1c;
}

.contenedor-barra #title {
    position: absolute;
    background: #1c1c1c;
    padding: 0px 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    top: 12px;
    left: 0px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.contenedor-barra a:hover #title {
    opacity: 1;
    visibility: visible;
    left: 64px;
}

.contenedor-barra #title:after {
    position: absolute;
    content: "";
    border-left: 7px solid transparent;
    border-right: 6px solid #1c1c1c;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    right: 100%;
    top: 8px;
}

.iconosocial {
    transition: all 0.4s;
    transform: translateX(0%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.contenedor-barra .icono-insta {
    background: #e4dfe2;
    border-radius: 5px;
}

.contenedor-barra .icono-tiktoka {
    background: #201e1f;
    border-radius: 0px 0px 5px 0px;
}

.contenedor-tarjeta {
    display: flex;
    width: 100%;
    max-width: 1100px;
}

.tarjeta {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tarjeta:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.tarjeta img {
    width: 100%;
    height: 210px;

}


.tarjeta .contenido {
    padding: 15px;
    text-align: center;
}

.tarjeta .contenido p {
    line-height: 1.5;
    color: 6a6a6a;
}

.tarjeta .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.tarjeta .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #cc1010;
    border: 1px solid #cc1010;
    border-radius: 4px;
    transition: all 400ms ease;
}