* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    padding: 0px;
    margin: 0px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #111827;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 100%; 
    font-family: Arial, Helvetica, sans-serif;   
}

.logo img {
    margin-right: 10px;
     height: 100%;    
    width: auto; 
}

.menu a {
  text-decoration: none;
  color: #FFFFFF;       
  margin-left: 25px;  
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;    
  padding-bottom: 4px; 
  font-family: Arial, Helvetica, sans-serif;   
}

.menu a:hover {
  color: #007bff;          
  border-bottom: 2px solid #007bff; 
}

.imagen {
    text-align: center;
    display: block;
}


.nosotros {
  text-align: center; 
  color:#FFFFFF;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111827;
  border-radius: 10px;
  box-shadow: 20px 20px #007bff;
  width: 1000px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
}

.columnas{
  justify-content: space-between;
  gap: 40px;
  display: flex;
  width: 100%;
}
.columna {
  width: 50%;
  text-align: justify;
  display: block;
  
}

ul {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
}

.imagen-titulo img {
  width: 120px;   
  display: block;
  margin: 0 auto;
}


