* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #111827;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}




.logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 100%; 
    font-family: Arial, Helvetica, sans-serif;   
}

.logo img {
    margin-right: 10px;
     height: 100%;    
    width: auto; 
}

.menu a {
  text-decoration: none;
  color: #FFFFFF;       
  margin-left: 25px;  
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;    
  padding-bottom: 4px; 
  font-family: Arial, Helvetica, sans-serif;   
}

.menu a:hover {
  color: #007bff;          
  border-bottom: 2px solid #007bff; 
}

form {
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      width: 420px;
      margin-top: 50px;
      
    }

form input, form select,
form textarea  {
    width: 100%;
    padding: 8px 4px;
    margin-bottom: 15px;

    border: none;                  
    border-bottom: 2px solid #D1D5DB; 
    outline: none;                 
    background: transparent;       
    font-size: 16px;
}

form input:focus,
form select:focus,
form textarea:focus {
     border-bottom: 2px solid #111827; 
}

form h1 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

    label, h1{
      display: block;
      margin-top: 15px;
      font-weight: bold; 
      color:  #111827; 
      font-family: Arial, Helvetica, sans-serif;
    }

    input, select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: #fff;
    }

    input[type="submit"] {
      background-color: white;
      color: #c0392b;
      border: 2px solid #c0392b;
      margin-top: 20px;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
    }

    input[type="submit"]:hover {
      background-color: #c0392b;
      color: white;
    }

    button {
        align-items: center;
      background-color: #111827;
      color: white;
      border: none;
      font-family: inherit;
      font-weight: 500;
      height: 2rem;
      width: 8rem;
      font-family: Arial, Helvetica, sans-serif;
      
      &:hover {
        color: #111827;
        cursor: pointer;
        background-color: inherit;
        border: 3px solid #111827;
        transition: all 150ms ease;
      }
      
    }
